
.header__square-pic {
  width: 568px;
  height: 568px;
  background: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
  overflow: hidden;
  animation: rotation 20s infinite linear;
  object-fit: cover;
  object-position: bottom;
}